#pd {
    color: #820000;
    font-size: 35px;
    text-transform:uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 5px  #FEE8B0;
    text-align: center;
}
#pi {
    font-size: 26px;
}
#valor {
    color: #820000;
    text-align: center;
}